# Pandas Tricks: Real Python Course

## Video 2: Configure Options and Settings at Interpretter Startup

In this video we learn how to set some settings when using pandas

In [53]:
import pandas as pd
import numpy as np

def start():
    options = {
        'display': {
            'max_columns': None,
            'max_colwidth': 25,
            'expand_frame_repr': False,
            'max_rows': ,10
            'max_seq_items': 50,
            'precision': 2, 
            'show_dimensions': False
        },
        'mode': {
            'chained_assignment': None
        }
    }
    
    for category, option in options.items():
            for op, value in option.items():
                pd.set_option(f'{category}.{op}', value)
                
#if __name__ == '__main__':
#    start()
#   del start

SyntaxError: invalid syntax (3746862066.py, line 10)

In [54]:
start()

In [55]:
data = pd.DataFrame(np.random.randn(50, 3))

In [56]:
data

         0       1       2
0   0.7538  1.8401  0.2963
1   1.7770 -0.4524  0.1304
2  -1.2126  1.0149 -0.0896
3  -0.0676 -1.5626  1.1958
..     ...     ...     ...
46 -0.9700 -1.0477  0.1061
47 -0.3028  1.9885  0.8333
48  1.4532  0.8921  0.3520
49  0.5494 -0.6037 -0.9598