# For Loops in Python
****
1) For Loop paradigm  
2) Iterables and Iterators  
3) For Loops in Python  
4) Range, Break, and Continue

`for <sequence>:  
    <loop body>`
    
Three types of definate iteration:
1) Numeric Range Loop  
+ `for i = 1 to 10'  
+ i increments by 1 each iteration

2) Three Expression Loop
+ `for (i = 1; i <= 10; i++)`
+ contains the initial value, value that must true, and the increment or decrement

3) Collection based loop
+ i takes it value from the next value in the collection
+ `for i in <collection>:  
        <Statement>`
+ Python uses this type

In [1]:
a = ['foo','bar', 'bax']

for i in a:
    print(i)

foo
bar
bax

Iteration over a string

In [1]:
s = 'hello world'

for letter in s:
    print(letter)

h
e
l
l
o

w
o
r
l
d

Looping over tuple

In [2]:
a = ('Foo', 'bar', 'baz')

for word in a:
    print(word)

Foo
bar
baz

Looping over a set

In [4]:
a = {'Foo', 'bar', 'baz'}

for word in a:
    print(word)

Foo
baz
bar

Looping over a dict

Notice it prints the keys and not the values

In [5]:
a = {'Foo': 1, 'bar': 2, 'baz': 3}

for word in a:
    print(word)

Foo
bar
baz

Not all objects can be iterated over.

Ints, Floats, functions can't be iterated

In [7]:
a = 2
for word in a:
    print(word)

TypeError: 'int' object is not iterable

## What are Iterators

In [9]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
itr

Use the `next()` function to go through and iterator

In [11]:
next(itr)

'foo'

In [12]:
next(itr)

'bar'

In [13]:
next(itr)

'baz'

In [14]:
next(itr)

StopIteration:

It can be useful to make a list of the elements inside an iterator

In [15]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
list(itr)

['foo', 'bar', 'baz']

Back to the dictionary example. 

Notice how the loop only prints the keys

In [18]:
a = {'foo': 1, 'bar': 2, 'baz':3}
for key in a:
    print(key)

foo
bar
baz

We can print the values by using the `.values()` method

In [22]:
a = {'foo': 1, 'bar': 2, 'baz':3}
for key in a.values():
    print(key)

1
2
3

What if we want to look at both the keys and values....we use the `.items()` method

In [24]:
a = {'foo': 1, 'bar': 2, 'baz':3}
for k, v in a.items():
    print(f'k = {k}, v = {v}')

k = foo, v = 1
k = bar, v = 2
k = baz, v = 3

### Iterating over a range of numbers

In [25]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

What if you need a large number of values?... Use the `range()` function

In [26]:
a = range(20)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

range(start, stop, step) where stop is not included

In [28]:
a = range(0, 103, 5)
for i in a:
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### Break and Continue statements in a for Loop

`break` works similar to how it works in a `while` loop. The loop terminates.

In [33]:
a = ['foo', 'bar', 'baz', 'qux']

for i in a:
    if 'b' in i:
        break
    print(i)

foo

Likewise. `continue` will stop the current iteration

In [34]:
a = ['foo', 'bar', 'baz', 'qux']

for i in a:
    if 'b' in i:
        continue
    print(i)

foo
qux

For loops also have an else clause. The else clause only executes if the loop terminates do to exhaustion and not a break clause.

In [37]:
a = ['foo', 'bar', 'baz', 'qux']

for i in a:
    if 'b' in i:
        continue
    print(i)
else:
    print('done')

foo
qux
done

In [38]:
a = ['foo', 'bar', 'baz', 'qux']

for i in a:
    if 'b' in i:
        break
    print(i)
else:
    print('done')

foo

In [41]:
a = ['foo', 'bar', 'baz']

itr = iter(a)
itr2 = iter(a)

print(itr2)

print(next(itr))
print(itr)

print(next(itr))
print(itr)

print(next(itr))
print(itr)

<list_iterator object at 0x000001F87BFCB910>
foo
<list_iterator object at 0x000001F87BFE7820>
bar
<list_iterator object at 0x000001F87BFE7820>
baz
<list_iterator object at 0x000001F87BFE7820>

In [43]:
list(range(5, -5, -1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]