# Lists and Tuples in Python
What you'll learn:

### Lists
+ Collection of arbitrary objects
+ Lists are ordered
+ Elements accessed by index
+ Can be nested to arbitrary lenth
+ mutable and dynamic

### Tuples
Identical to lists in all respects, except
+ defined differently
+ immutable
+ unpacking and packing

## Lists - Ordered and Arbitrary
+ order used when defining is maintained
+ order makes list unique

In [1]:
a = ["spam", "egg", "bacon", "tomato"]
b = ["egg", "bacon", "tomato", "spam"]
a == b

False

Lists can contain arbitrary object 

List can even contain functions, or modules

In [2]:
a = [12.42, "spam", 3, 4, "egg", False, 3.141]
type(a)

list

A list can contain any number of objects

A list with only a single object is known as a singleton list

Objects within a list need not be unique

## Indexing and Slicing Lists
+ individual elements can be accessed with an index `list[i]` 
+ indexes are zero based

In [3]:
a = ["spam", "egg", "bacon", "tomato", "ham", "lobster"]
print(a[0], a[-1])

spam lobster

To get a sublist `list[start index: end index]`; end index is not included

Omitting first index starts slice at beginning of list `a[:n]`

Omitting last index extends slice to end of list `a[m:]`

Omitting both indexes `a[:]` returns a copy of the entire list; not a reference to the same object

In [4]:
a[0:4]

['spam', 'egg', 'bacon', 'tomato']

In [5]:
a[:4]

['spam', 'egg', 'bacon', 'tomato']

In [6]:
a[3:]

['tomato', 'ham', 'lobster']

In [7]:
print(id(a), id(a[:]))

1365124696640 1365124462592

In [8]:
#note this is different than the behavior of a string
s = "bacon"
print(id(s), id(s[:]))

1365124452720 1365124452720

There can also be a step index `a[0:6:2]`

In [9]:
a[0:6:2]

['spam', 'bacon', 'ham']

In [10]:
a[1:6:2]

['egg', 'tomato', 'lobster']

In [11]:
print(a)

['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']

In [12]:
# negative indexing also exists
# start at last object go to first index 
a[6:0:-2]

['lobster', 'tomato', 'egg']

You can reverse your list by `a[::-1]`

In [13]:
a[::-1]

['lobster', 'ham', 'tomato', 'bacon', 'egg', 'spam']

## Operators and Built-in Functions

### `in` Operator

In [14]:
a = ["spam", "egg", "bacon", "tomato", "ham", "lobster"]
"spam" in a

True

In [15]:
'kiwi' not in a

True

## Concatenation (+) and Replication (*) Operators

In [16]:
a + ["kiwi","mango"]

['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster', 'kiwi', 'mango']

Note this doesn't actually change `a` unless we reassign a

In [17]:
print(a)

['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']

In [18]:
a * 2

['spam',
 'egg',
 'bacon',
 'tomato',
 'ham',
 'lobster',
 'spam',
 'egg',
 'bacon',
 'tomato',
 'ham',
 'lobster']

## Built in Functions
+ `len()` returns the length of the list
+ `min()` returns the the object with the minimum value
+ `max()` returns the object with maximum value

In [19]:
len(a)

6

In [20]:
min(a)

'bacon'

In [21]:
max(a)

'tomato'

In [22]:
b = ["apple", "bacon", "Asparagus", "Zebra"]
print(min(b), max(b))

Asparagus bacon

`min() and max()` functions use the ascii values for sorting

The comparison operators also only work if the objects are of the same type

In [23]:
b = b + [12, 10]
min(b)

TypeError: '<' not supported between instances of 'int' and 'str'

## Nesting
+ a element within a list can contain a list

In [24]:
x = ['a', ['bb',['ccc', 'ddd'],'ee', 'ff'], 'g',['hh', 'ii'], 'j']
print(x[0], x[2], x[4])

a g j

To access a sub-element just add another bracket

In [25]:
x[1][1]

['ccc', 'ddd']

In [26]:
x[1][1][0]

'ccc'

Negative Indexing also works

In [27]:
x[-4][-3][-1]

'ddd'

In [28]:
len(x)

5

In [29]:
len(x[1])

4

`in` operator only looks at the current level

In [30]:
'ddd' in x

False

## Lists - Mutable and Dynamic
+ Once created, elements can be modifie
+ list are dynamic; we can add values to it

In [31]:
a

['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']

We can change a value within the list

In [32]:
a[2] = 10
a[-1] = 20
a

['spam', 'egg', 10, 'tomato', 'ham', 20]

You can even delete items from a list

In [33]:
del a[3]
print(a)

['spam', 'egg', 10, 'ham', 20]

You can also append to a list

In [34]:
a = ['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
a += ["gravy", "kiwi"]
a

['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster', 'gravy', 'kiwi']

In [35]:
# adding to beginning
a = [1, 2] + a
a

[1, 2, 'spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster', 'gravy', 'kiwi']

If adding items to list make sure to use a singleton list

In [36]:
a + 1

TypeError: can only concatenate list (not "int") to list

In [37]:
a += 'tomato'
a

[1,
 2,
 'spam',
 'egg',
 'bacon',
 'tomato',
 'ham',
 'lobster',
 'gravy',
 'kiwi',
 't',
 'o',
 'm',
 'a',
 't',
 'o']

In [38]:
a += ['tomato']
a

[1,
 2,
 'spam',
 'egg',
 'bacon',
 'tomato',
 'ham',
 'lobster',
 'gravy',
 'kiwi',
 't',
 'o',
 'm',
 'a',
 't',
 'o',
 'tomato']

## List Methods
One big difference between string methods and list methods. List methods modify the list in place while string methods return a copy of the string

In [39]:
s = 'mybacon'
s.upper()

'MYBACON'

In [40]:
s

'mybacon'

### List Methods
+ mylist.append() adds element to end of list
+ mylist.extend() takes iterable and adds each element to list
+ mylist.insert() inserts an object at the specified index
+ mylist. remove() removes an object from list. Exception raised if not in list
+ mylist.sort() sorts a list

In [41]:
a = ['a','b']
a.append('c')
a

['a', 'b', 'c']

a.append() doesn't actually return anything

In [45]:
a = ['a','b']
x = a.append(123)
print(x)
print(a)

None
['a', 'b', 123]

In [46]:
a[len(a):] = ['d', 'e']

In [47]:
a

['a', 'b', 123, 'd', 'e']

In [43]:
# different behavior than strings. Appends as a singular object
a.append([1,2,3])
a

['a', 'b', 123, [1, 2, 3]]

a.extend() behaves more like the concatenate operator

In [44]:
a = ['a', 'b']
a.extend([1, 2, 3])
a

['a', 'b', 1, 2, 3]

a.insert() adds object at specified index

In [ ]:
a = ['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
a.insert(3, 3.14)
a

a.remove() removes the first occurence of a object

In [ ]:
a.remove("egg")
a

a.clear() removes all items from list

In [ ]:
a.clear()
a

In [ ]:
a = ['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
a.sort()
a

A common issue is that capital letters get sorted first. Use the key argument to correct

In [ ]:
a += ["Apple", "Zebra"]
a.sort()
a

In [ ]:
a.sort(key = str.upper)
a

In [ ]:
a.sort(key = str.upper, reverse = True)
a

## List Methods with Return Values
+ mylist.pop() Removes element with index -1, but returns that last item

In [ ]:
a = ['bacon', 'egg', 'ham', 'lobster', 'spam', 'tomato']
a.pop()

In [ ]:
a

+ mylist.index() returns the first index of whatever value your're searching for

In [ ]:
a = ['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
a.index("tomato")

+ mylist.count() Counts the occurrences of an object

In [ ]:
b = [1,2,3,4,5,4,5,6,5,4,3,1]
b.count(4)

+ mylist.copy() returns a shallow copy. Only the outermost objects are copies. Nested values are references. So if you modify the copy you will also modify the original

In [ ]:
a.copy()

## Defining and Using Tuples
+ identical to lists except for: 
+ defined using ()
+ tuples are immutable: This can cause a program to be faster

In [ ]:
t = ('spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster')
type(t)

Indexing is the same

Can't modify values

In [ ]:
t[2]="This won't work"

To create a singleton tuple need to include a trailing comma

In [ ]:
t = (2)
type(t)

In [ ]:
t = (2, )
type(t)

## Tuple Assignment, Packing and Unpacking

In [ ]:
t = ("spam", "egg", "bacon","tomato")
t

In [ ]:
# have to have equla number of elements on both sides
(s1, s2, s3,s4) = t

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

In [ ]:
s4

In [ ]:
type(s1)

You can skip parenthesis in some cases

In [ ]:
x1, x2, x3 = 4,5,6

In [ ]:
x1

In [ ]:
x3

Tuple assignment can make swapping simple

In [ ]:
a = "spam"
b = 'egg'
a,b

In [ ]:
a, b = b, a
a,b

In [54]:
a = [1, 2, 7, 8]
a = a[:2] + [3,4,5,6] + a[-2:]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
a = ['a', 'b', 'c']
a += 'de'
a

['a', 'b', 'c', 'd', 'e']