What this course will cover: 
+ 1) The Python Boolean Type
+ 2) The boolean Operator not
+ 3) the boolean Operator and
+ 4) The Boolean Operator or
+ 5) Comparison Operators
+ 6) Chaining Comparison Operators
+ 7) Python Boolean Testing

# The Python Boolean Type

The bool class is a subclass of the int type
A bool variable can only True or False. Both are keywords.

In [1]:
issubclass(bool, int)

True

In [2]:
# bool is a subclass of integer, but 1 and 0 are not instances of bool
isinstance(1, bool)

False

A common use of the bool subclass is to see the number of items in a list that meet a certain criteria; such as how many numbers in a list are divisible by 3

In [3]:
codes = [264, 118, 543, 705, 1152, 674]
N = 3

sum([c % N == 0 for c in codes])

4

# Boolean Operators
+ Boolean operators takes as input one or more booleans as input and returns a boolean
+ NOT, AND and OR are important

### Not Operator
+ unary
+ can be applied to any object
+ not only returns True or False. which makes it unique.

In [4]:
not True

False

In [5]:
not 0

True

In [6]:
not 'Hello World' # non empty string

False

In [7]:
not [1,2,3]

False

In [8]:
not []

True

In [9]:
# use not to set default value for string if it's empty
first_name = ""
if not first_name: 
    first_name = "Not Given"
    
first_name

'Not Given'

In [10]:
# alternative method to set default. Ternary operator
first_name = "not given" if not first_name else first_name
first_name

'Not Given'

### and Operator
+ binary operator: takes two inputs
+ returns true when both operands are true
+ short circuits if the first operand is false
+ returns the value of one of its operands

In [11]:
from itertools import product
for x, y in product([True, False], repeat = 2):
    print(f"\t {x} and {y} = {x and y}")

	 True and True = True
	 True and False = False
	 False and True = False
	 False and False = False

In [12]:
# short circuiting feature
def print_and_return(x):
    print(f"I am returning {x}")
    return(x)

True and print_and_return(False)

I am returning False

False

In [13]:
False and print_and_return(True) 
# notice the function never ran b/c of short circuiting

False

------
### or Operator
+ the other binary operator
+ short circuits when the first operand in `True`

In [14]:
for x, y in product([True, False], repeat = 2):
    print(f'{x} and {y} = {x or y}')

True and True = True
True and False = True
False and True = True
False and False = False

In [15]:
def print_and_return(x):
    print(f'I am returning {x}')
    return(x)

# Notice the function doesn't run
True or print_and_return(True)

True

In [16]:
False or print_and_return(True)

I am returning True

True

In [17]:
# setting default value using or statement
first_name = ''
first_name = first_name or "Not Given"
first_name

'Not Given'

In [18]:
first_name = 'Luigi'
first_name = first_name or "Not Given"
first_name

'Luigi'

### Comparison Operators

+ Binary operator that determines whether a particular relationship holds between the operands
+ Comparison operators return either True or False
+ 8 value comparison: <, <=, > is, is not
+ 2 membership operators: in, not in

In [19]:
1 == 1

True

In [20]:
True == 2

False

In [21]:
1.0 == 1

True

In [22]:
4/2 == 2

True

In [23]:
# sets are unordered
{1,2,3} == {3,1,2}

True

In [24]:
# Lists are ordered
[1,2,3] == [2,1,3]

False

In [25]:
# Remember not a numbers can be converted perfectly to binary
.2 + .1 == .3

False

In [26]:
# dictonaries don't support order operators
a = {'X': 1, "Y": 2}
b = {"x": 3, "Y": 4}
a < b

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [ ]:
# only one element in first list is larger
[2,0] < [1,2,3]

In [ ]:
# sets behave wierdly
{1,2,3} < {4,5,6}

In [ ]:
# always get false except for != operator
{4,5,6}<{1,2,3}

`is` and `is not` operators

In [ ]:
x, y = [1,2,3],[1,2,3]
x==y

 clearly `x` and `y` are different objects but equal

In [ ]:

print(id(x))
print(id(y))

In [ ]:
z = x
x==z

 z is just another reference to x

In [ ]:

print(id(z))
print(id(x))

### `in` and `not in` operator
in dictionaries in operator evaluates based on keys

In [ ]:
d = {"a": a, "b":3}
"c" in d

In [ ]:
"b" in d

### Chaining Comparison Operators
Consider the following expression

    ` if x < y and y <= z:
            do_something()`
            
The condition can be shortened to `if x < y <= z:`

Note readability quickly degrades after 3 or more comparisons:

    `1 < 2 in [1, 2, 3] >= [1, 2]`
    
   and
   
    `(1 < 2) and (2 in [1, 2, 3]) and ([1, 2, 3] >= [1, 2])`
    
The second example is easier to read, but the first example may be more efficient because each value is only evaluated once.

In [ ]:
def u():
    print("I am u")
    return 1
    
def v():
    print("I am v")
    return 2
    
def w():
    print("I am w")
    return 3

u()<v()

Below is an example of how each operand is only evaluated once:

Notice how `v()` is evaluated twice

In [ ]:
u() < v() and v() < w()

Here `v()` is only evaluated once when the comparison is chained:

In [ ]:
u() < v() < w()

### Python Boolean Testing
+ Booleans are most often used in `if` statements
+ the expression in the if statement is evaluated and determined to be either `truthy` which evaluates to `True` or `Falsey` which evaluates to `False`
Below are example of `Falsey` objects

In [ ]:
print(bool(None))
print(bool(0.0))
print(bool([]))

In [27]:
"cabad" < "cabae"

True

In [28]:
"b" in "aba" in True

TypeError: argument of type 'bool' is not iterable

In [29]:
"b" in "aba"

True

In [32]:
True in "cabad"

TypeError: 'in <string>' requires string as left operand, not bool