# Sets in Python

### Immutable vs Hashable
Immutable: a type of object that cannot be modified after it was created 

Hashable: a type of object you call `hash()` on.

All immutable objects are hashable, but not all hashable objects are immutable

Python sets can only include hashable objects

An example. Strings can't be modified => Immutable

In [1]:
s = 'hello'
s.append('n')

AttributeError: 'str' object has no attribute 'append'

we can call hash on a string

In [2]:
hash(s)

6110176800005697619

### Defining a set
two ways:  
+ pass an iterable into the set function

In [3]:
set(['foo', 'bar'])

{'bar', 'foo'}

+ Using `{}`

In [5]:
x = {'foo', 'bar'}
type(x)

set

### Operating on a Set 
#### Length
len()

In [6]:
a = {1,2,1}
len(a)

2

In [7]:
b = {(1,2), 2}
len(b)

2

#### Membership
`<elem> in X`
returns a boolean which indicates if an element exists in a set

In [8]:
x = {'foo', 'bar'}
'foo' in x

True

In [9]:
'bax' in x

False

### Iteration
Similar to looping over a list

Note you can't slice/index a set

In [10]:
x = {'foo', 'bar', 'baz'}
for elem in x:
    print(elem)

baz
bar
foo

In [13]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [12]:
#Indexing not allowed!
x[0]

TypeError: 'set' object is not subscriptable

#### Union
+ Union of multiple sets is the set of the elements in all sets
Two methods to union 
1. method call: set_name.union(set2[, set3,...])
2. Vertical Bars: set1 | set2[| set3...]

In [15]:
x1.union(('baz', 'qux', 'quux'))

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [14]:
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

You can't use the vertical bar method to union a set and a tuple

In [17]:
x1 | ('baz', 'qux', 'quux')

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [18]:
a = {1, 2, 3, 4}
b = {2,3,4,5}
c = {4,5,6,7}
a | b | c

{1, 2, 3, 4, 5, 6, 7}

#### Intersection
The intersection of multiple sets is the set of only the elements that exist in all sets

Two ways of accomplishing:
1. `.intersection()` method
2. & method

In [19]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.intersection(x2)

{'baz'}

In [20]:
x1 & x2

{'baz'}

#### Difference
The difference of multiple sets is the set of only the elements that exist in the first set but not in any of the rest.

Two ways to call:

    1. `.difference()` method
    2. `-` operator
    
Operation is evaluated left to right

In [21]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.difference(x2)

{'bar', 'foo'}

In [22]:
x1 - x2

{'bar', 'foo'}

In [23]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

a.difference(b, c)

{1, 2, 3}

In [24]:
a - b - c

{1, 2, 3}

#### Symmetric Difference
The symmetric difference of multiple sets is the set of only the elements that exist in a single set, but not in multiple

Two ways to call:

    1. .symmetric_difference() method
          + argument needs to be iterable
          + Only works with one argument
    2. ^ operator
          + operands need to be sets

In [25]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [26]:
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

#### Is Disjoint
Checks whether or not sets have any elemnts in common

Called using the `.isdisjoint()` operator. There is no corresponding operator

In [27]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.isdisjoint(x2)

False

In [29]:
x1.isdisjoint(x2 - {'baz'})

True

In [32]:
# the intersection will be empty
x1 & (x2 - {'baz'})

set()

#### is Subset 
A set is considered a subset of another set if every element of the first set is in the second.

Called in two ways:

    1. `.issubset()` method
        - argument needs to be an iterable
    2. <= operator
        - Operands need to be sets
        - Compares if each set is a subset of all the rest of the sets to the right

In [83]:
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}

x1.issubset(x2)

True

#### Is Proper Subset
Proper subset is the same as subset except sets can't be identical.

Called using the `<` operator; there is no corresponding method

#### Is Superset
A set is considered a superset if the first set contains every element of the second set.

Called in two ways:

1. `.issuperset()` method
2. `>=` operator
+ operands need to be sets
+ works on multiple sets and compes if each set is a superset of all the rest of the sets to the right

In [36]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar',}

x1.issuperset(x2)

True

In [37]:
x1 >= x1

True

#### is proper superset
similar to is superset

### Modifying a Set
#### Add
1. x.add()
+ adds an element to a set

In [39]:
x = {'foo', 'bar', 'baz'}
x.add('qux')

# Notice x itself is modified
x

{'bar', 'baz', 'foo', 'qux'}

Notice you can only add hashable element

In [40]:
x.add({'quix'})

TypeError: unhashable type: 'set'

#### Remove
+ x.remove()
    - will cause an exception if try to remove an element that doesn't exist

In [42]:

x = {'foo', 'bar', 'baz'}
x.remove('baz')

# Notice x itself is modified
print(x)

x.remove('qux')

{'bar', 'foo'}

KeyError: 'qux'

#### Discard
x.discard: removes element from set, but will do nothing if the element doesn't exist

In [44]:
x = {'foo', 'bar', 'baz'}
x.discard('baz')

# Notice x itself is modified
print(x)

x.discard('qux')
x

{'bar', 'foo'}

{'bar', 'foo'}

#### Pop
x.pop: removes and returns a random element from a set. Raises an exception if x is empty

In [48]:
x = {'foo', 'bar', 'baz'}
x.pop()

# Notice x itself is modified
print(x)

set({}).remove('qux')

{'bar', 'foo'}

KeyError: 'qux'

.clear() removes all elements from a set

### Augmented Assignment Operators
The following methods and operators modify a set. Many methods are similar to previous methods except that they do not create a new set.

y=x makes y point to the same thing as x


#### Update |=
Modifies a set by adding any elements that do not alread exist. Similar to Union. Union creates a new set. Update modifies the existing set

In [50]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1 |= x2
x1

{'bar', 'baz', 'foo', 'quux', 'qux'}

#### Intersection Update  &=
Modifies a set by retaining only elements found in both sets

In [55]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1 &= x2
x2

{'baz', 'quux', 'qux'}

In [56]:
x1.intersection_update(['baz', 'qux'])
x1

{'baz'}

#### Difference update
Keeps only elements that exist in the first set, not any of the the rest
+ x1.difference_update
+ -= operator x -= y[| z | w |...]

In [58]:
a = {1,2,3}
b = {2}
c = {3}

a.difference_update(b, c)
a

{1}

In [61]:
a = {1,2,3}
a -= b | c
a

{1}

In [64]:
a = {1,2,3}
a -= b - c
a

{1, 3}

#### Symmetric Difference Update
Modifies a set by keeping only the elements that exist in a single set but in multiple

+ x1.symmetric_difference_update()
    - only takes a single iterable argument
+ x1 ^= x2 [^x3...]
    - operands need to be sets
    - works on multiple sets and will mutate x1 to only include elements found in only one of the sets

In [65]:
a = {1,2,3}
b = {3,4,5}
c = {1,5,6}

a.symmetric_difference_update(b)
a

{1, 2, 4, 5}

In [67]:
a = {1,2,3}
a ^= b ^c
a

{2, 4, 6}

### Frozen Sets
Exactly the same regular sets, except they are immutable and thus hashable

In [68]:
y = set(['foo', 'bar', 'baz'])
y

{'bar', 'bax', 'foo'}

In [70]:
x = frozenset(['foo', 'bar', 'baz'])
x

frozenset({'bar', 'baz', 'foo'})

In [71]:
x & {'baz'}

frozenset({'baz'})

In [72]:
x.add('quz')

AttributeError: 'frozenset' object has no attribute 'add'

In [73]:
x.pop

AttributeError: 'frozenset' object has no attribute 'pop'

In [76]:
%timeit 10*10

9.54 ns ± 0.337 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [80]:
s = {['a','b','c']}
s

TypeError: unhashable type: 'list'

In [81]:
{1, 2, 3, 4, 5} - {3, 4} ^ {5, 6, 7}

{1, 2, 6, 7}